<div fxFill class="p-4 flex flex-col gap-4 max-w-6xl mx-auto">
  <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
    <div class="flex flex-col gap-4">
      <ng-container *ngTemplateOutlet="greeting"></ng-container>
      <ng-container *ngTemplateOutlet="createroom"></ng-container>
    </div>
    <div class="flex flex-col gap-4">
      <ng-container *ngTemplateOutlet="joinroom"></ng-container>
      <ng-container *ngTemplateOutlet="roomlist"></ng-container>
    </div>
  </div>
</div>

<ng-template #roomlist>
  <div class="bg-white border rounded-lg p-8 gap-4 max-h-[50vh] overflow-y-auto" *ngIf="recentRooms | async as rooms">
    <p class="text-xl font-bold">Recent Rooms</p>
    <div class="grid gap-4">
      <div
        *ngFor="let room of recentRooms | async"
        class="flex flex-row gap-2 bg-gray-100 p-4 rounded-lg justify-between cursor-pointer"
        (click)="navigateToRoom(room.room_id)"
      >
        <div class="flex flex-col gap-2">
          <span class="text-lg font-bold">{{ room.name }}</span>
          <span>{{ room.description }}</span>
        </div>
        <button class="px-4 py-2 rounded-md">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #greeting>
  <div class="flex flex-col gap-4 p-8 bg-white border rounded-lg w-full">
    <span class="text-2xl font-bold">Welcome {{ user }}</span>
    <span>Get started by creating or joining a room</span>
  </div>
</ng-template>

<ng-template #createroom>
  <div class="bg-white border rounded-lg p-8">
    <p class="text-xl font-bold">Create Room</p>
    <form (ngSubmit)="createRoom()" [formGroup]="createRoomForm" class="grid gap-2">
      <div class="flex flex-col">
        <mat-label>Room Name</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="Room Name"
          class="p-2 border border-gray-300 rounded-md bg-gray-200 active:border-black"
        />
      </div>
      <div class="flex flex-col">
        <mat-label>Room Description</mat-label>
        <input
          matInput
          formControlName="description"
          placeholder="Room Description"
          class="p-2 border border-gray-300 rounded-md bg-gray-200 active:border-black"
        />
      </div>

      <button type="submit" class="bg-black text-white px-4 py-2 rounded-md mt-4">Create</button>
    </form>
  </div>
</ng-template>

<ng-template #joinroom>
  <div class="bg-white border rounded-lg p-8 flex flex-col gap-2">
    <span class="text-xl font-bold">Join Room</span>
    <p>Enter the room ID below to join an existing room.</p>
    <form (ngSubmit)="joinRoom()" [formGroup]="joinRoomForm" class="flex flex-row items-center justify-center gap-2">
      <input
        matInput
        formControlName="roomId"
        placeholder="Room ID"
        class="p-2 border border-gray-300 rounded-md bg-gray-200 active:border-black w-3/4"
      />
      <button type="submit" class="bg-black text-white px-4 py-2 rounded-md w-1/4">Join</button>
    </form>
  </div>
</ng-template>
