node_modules
backend/venv
backend/.env
ui/node_modules
**/__pycache__
backend/.pytest_cache
backend/.coverage
backend/bart_base.pth
summarizer/venv
.angular
# System Files
.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*