<div class="gap-4 p-4 flex flex-col md:flex-row h-full w-full">
  <div class="flex flex-col gap-4 w-full md:w-1/3 md:max-w-96">
    <app-room-details [room]="room"></app-room-details>
    <ng-container *ngTemplateOutlet="emojiTemplate"></ng-container>
    <ng-container *ngTemplateOutlet="comments"></ng-container>
  </div>
  <div class="flex flex-col gap-4 overflow-auto [&::-webkit-scrollbar]:hidden w-full md:flex">
    <div class="md:h-1/3">
      <app-summary-board [room]="room"></app-summary-board>
    </div>
    <div class="md:h-2/3">
      <app-live-transcription-board [room]="room"></app-live-transcription-board>
    </div>
  </div>
</div>
<ng-template #emojiTemplate>
  <div class="bg-white border rounded-lg p-4 text-md hover:bg-gray-100 cursor-pointer flex flex-col gap-2">
    <span class="text-2xl">How are you feeling?</span>
    <span>Share your thoughts here</span>
    <div class="flex flex-row gap-10 md:gap-4">
      @for (emoji of ['😀', '😑', '☹️']; track emoji) {
      <div
        class="
          bg-white
          shadow-md
          rounded-lg
          p-4
          lg:text-4xl
          md:text-xl
          flex
          lg:flex-col
          sm:flex-row
          hover:bg-gray-100
          cursor-pointer
        "
        (click)="emojiClick(emoji)"
      >
        {{ emoji }}
      </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #comments>
  <div class="bg-white border rounded-lg p-4 text-md hover:bg-gray-100 cursor-pointer flex flex-col gap-2">
    <span class="text-2xl">Have a question?</span>
    <span>Ask your question here.</span>
    <textarea
      class="text-md p-2 border border-gray-300 rounded-md h-full w-full"
      placeholder="Enter your question here"
      [(ngModel)]="question"
    ></textarea>
    <div class="flex flex-row gap-4">
      <button class="bg-black text-white px-4 py-2 rounded max-w-64" (click)="askQuestion()">Ask</button>
    </div>
  </div>
</ng-template>

<ng-template #quizdialog>
  <div class="bg-white p-4 flex flex-col w-[60vw] h-[60vh] gap-4">
    <span>Quiz</span>
    <div class="flex flex-col gap-4 h-full">
      <p>Question: {{ quiz_question.value?.question }}</p>
      <mat-radio-group [(ngModel)]="selected_option" class="flex flex-col gap-4">
        @for (option of quiz_question.value?.options; track option) {
        <mat-radio-button [value]="option" class="p-4 rounded-md border border-gray-300">{{ option }}</mat-radio-button>
        }
      </mat-radio-group>
      <span style="flex: 1 1 auto"></span>
      <button class="bg-black text-white px-4 py-2 rounded-md" (click)="submitQuiz()">Submit</button>
      <div #timer>
        <mat-progress-bar mode="determinate" [value]="((60 - ((timeLeft | async) || 0)) * 100) / 60"></mat-progress-bar>
      </div>
    </div>
  </div>
</ng-template>
