@if (device === 'mobile') {
<div class="mobile">
  @for (item of mobileItems; track item) {
  <a class="nav-icon" [routerLink]="item.route" routerLinkActive="active">
    <mat-icon>{{ item.icon }}</mat-icon>
    <span>{{ item.name }}</span>
    <span class="highlight"></span>
  </a>
  }
  <a class="nav-icon" (click)="logout()"
    ><mat-icon>logout</mat-icon> <span>logout</span> <span class="highlight"></span
  ></a>
</div>
} @else {
<div class="default">
  @for (item of mobileItems; track item) {
  <a class="nav-icon" [routerLink]="item.route" routerLinkActive="active">
    <!-- <mat-icon>{{ item.icon }}</mat-icon> -->
    <span>{{ item.name }}</span>
    <span class="highlight"></span>
  </a>
  }
  <a class="nav-icon" (click)="logout()"><span>logout</span> <span class="highlight"></span></a>
</div>
}

<ng-template #default>
  <div class="default">
    @for (item of mobileItems; track item) {
    <a class="nav-icon" [routerLink]="item.route" routerLinkActive="active">
      <!-- <mat-icon>{{ item.icon }}</mat-icon> -->
      <span>{{ item.name }}</span>
      <span class="highlight"></span>
    </a>
    }
    <a class="nav-icon" (click)="logout()"><span>logout</span> <span class="highlight"></span></a>
  </div>
</ng-template>
