<div class="selection-panel">
  @if (filter !== undefined) {
  <input [(ngModel)]="filterString" (keyup)="filterData()" />
  } @for (ele of layout; track ele) {
  <div [ngClass]="(selectedLayout$ | async) === ele ? 'active' : ''" class="item" (click)="markActive(ele)">
    <mat-icon>{{ icons[ele] }}</mat-icon>
    <span>{{ ele }}</span>
  </div>
  }
</div>
<div [ngClass]="(selectedLayout$ | async) + ' genric'">
  @if (addItem) {
  <div>
    <ng-container
      *ngTemplateOutlet="
        addItem;
        context: {
          layout: (selectedLayout$ | async)
        }
      "
    >
    </ng-container>
  </div>
  } @for (data of dataSource$ | async; track data) {
  <div>
    <ng-container
      *ngTemplateOutlet="
        layoutItemTemplate;
        context: {
          data: data,
          layout: (selectedLayout$ | async)
        }
      "
    >
    </ng-container>
  </div>
  }
</div>
