<div class="menu-grid">
  <mat-card *ngFor="let product of products; let i = index" class="menu">
    <div class="productHeader" fxLayout="row">
      <img mat-card-avatar [src]="domSanitizer.bypassSecurityTrustUrl(product.icon)" />
      <div fxLayout="column" style="flex: 1 1 auto">
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>Cost: {{ product.basePrice }}</mat-card-subtitle>
      </div>
    </div>
    <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
    <div fxLayout="row">
      <span style="flex: 1 1 auto"></span>
      <mat-icon
        *ngFor="let productAction of productCardActions; let index = index"
        (click)="onClick(productAction.onClickFunction, i)"
      >
        {{ productAction.icon }}
      </mat-icon>
    </div>
  </mat-card>
</div>
