.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5em;
  padding: 1em;
}
.menu {
  cursor: pointer;
}

.mat-expansion-panel {
  background: rgba(255, 255, 255, 0.25) !important;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 1em;
  border-radius: 20px !important;
}
.mat-expansion-panel-header {
  background: rgba(255, 255, 255, 0.25) !important;
  border-radius: 20px !important;
}
.mat-card {
  background-color: rgba(255, 255, 255, 0.35);
}
.mat-card-actions {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.2em;
}
.productHeader {
  gap: 0.5em;
}
