<app-layout
  [layout]="['Card', 'List', 'Minimal']"
  [datasource]="products"
  [layoutItemTemplate]="layoutItem"
  [addItem]="addItem"
  [filter]="filter"
>
  <input type="text" />
</app-layout>

<ng-template #addItem let-layout="layout">
  <app-layout-item [layout]="layout">
    <mat-icon icon>add_circle_outline</mat-icon>
    <span title>Add Product</span>
    <span description>Creates a new product and takes you to edit page</span>
  </app-layout-item>
</ng-template>

<ng-template #layoutItem let-data="data" let-layout="layout">
  <app-layout-item [layout]="layout" [routerLink]="data._id">
    <img [src]="domSanitizer.bypassSecurityTrustUrl(data.icon)" icon />
    <span title>{{ data.name }}</span>
    <span description></span>
  </app-layout-item>
</ng-template>
