<div id="resetContainer">
  <mat-card>
    <form (ngSubmit)="passwordReset()" [formGroup]="PassResetForm">
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email" placeholder="enter your Email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input type="password" matInput formControlName="newPassword" placeholder="new Password" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm New Password</mat-label>
          <input type="password" matInput formControlName="confirmNewPassword" placeholder="confirm new Password" />
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">Reset</button>
      </div>
    </form>
  </mat-card>
</div>
