#resetContainer {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  background: linear-gradient(to right, #78ffd6, #007991);
}
.mat-card {
  width: 400px;
}

.mat-form-field {
  width: 100%;
  padding: 1rem;
}
