<div *ngIf="layout === 'Minimal'" class="minimal">
  <ng-container *ngTemplateOutlet="imageWrapper"></ng-container>
  <ng-container *ngTemplateOutlet="titleWrapper"></ng-container>
</div>
<div *ngIf="layout === 'List'" class="list">
  <ng-container *ngTemplateOutlet="imageWrapper"></ng-container>
  <ng-container *ngTemplateOutlet="titleWrapper"></ng-container>
</div>
<div *ngIf="layout === 'Card'" class="card">
  <ng-container *ngTemplateOutlet="imageWrapper"></ng-container>
  <ng-container *ngTemplateOutlet="titleWrapper"></ng-container>
  <ng-container *ngTemplateOutlet="descriptionWrapper"></ng-container>
</div>

<ng-template #imageWrapper>
  <div class="image-wrapper">
    <ng-content select="[icon]"></ng-content>
  </div>
</ng-template>
<ng-template #titleWrapper>
  <div class="title-wrapper">
    <ng-content select="[title]"></ng-content>
  </div>
</ng-template>
<ng-template #descriptionWrapper>
  <div class="description-wrapper">
    <ng-content select="[description]"></ng-content>
  </div>
</ng-template>
