<div class="flex flex-col gap-4 p-4 md:flex-row h-full w-full">
  <div class="flex flex-col gap-4 w-full md:w-1/3 md:max-w-96">
    <app-room-details [roomMetaData]="roomMetaData"></app-room-details>
    <ng-container *ngTemplateOutlet="emojiTemplate"></ng-container>
    <ng-container *ngTemplateOutlet="liveQuestions"></ng-container>
  </div>
  <div class="flex flex-col gap-4 overflow-auto [&::-webkit-scrollbar]:hidden w-full md:flex">
    <ng-container *ngTemplateOutlet="actions"></ng-container>
    <div class="md:h-1/3">
      <app-summary-board></app-summary-board>
    </div>
    <div class="md:h-2/3">
      <ng-container *ngTemplateOutlet="liveTranscription"></ng-container>
    </div>
  </div>
</div>

<ng-template #liveTranscription>
  <div class="flex flex-col gap-1 border rounded-lg p-4 bg-white w-full h-full">
    <span class="text-2xl">Live Transcription</span>
    <span>Live transcription of your voice will appear here.</span>
    <div class="overflow-y-auto h-100 w-100" #scrollMe>
      @for (transcript of this.recordingService.transcript$ | async; track transcript; let i = $index; let last = $last)
      {
      <div class="overflow-y-auto border-b border-gray-200 p-4">
        <span class="text text-gray-500"> {{ transcript.content }}</span>
      </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #liveQuestions>
  <div class="flex flex-col gap-4 border rounded p-4 h-full">
    <span class="text-2xl">Live Comments</span>
    <span class="text-md">Comments posted by participants</span>
    <div>
      @for (question of this.roomService.questions$ | async; track question) {
      <div class="p-4 border-b border-gray-300">
        <span>{{ question }}</span>
      </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #actions>
  <div class="flex flex-row md:gap-4 border rounded p-2">
    <span style="flex: 1 1 auto"></span>

    <button (click)="quickQuestion()" class="flex flex-col rounded-md items-center justify-center gap-1 m-2">
      <div class="h-16 w-16 flex flex-col items-center justify-center rounded-full bg-black text-white">
        <mat-icon style="font-size: 32px; height: 32px; width: 32px"> ballot</mat-icon>
      </div>
      Quick Question
    </button>

    <div (click)="toggleRecording()" class="flex flex-col rounded-md items-center justify-center gap-1 m-2">
      <div class="h-16 w-16 flex flex-col items-center justify-center rounded-full bg-black text-white">
        <mat-icon style="font-size: 32px; height: 32px; width: 32px">
          @if (isRecording) { mic_off } @else { mic }
        </mat-icon>
      </div>
      @if (isRecording) { Stop Recording } @else { Start Recording }
    </div>
    <button (click)="closeRoom()" class="flex flex-col rounded-md items-center justify-center gap-1 m-2">
      <div class="h-16 w-16 flex flex-col items-center justify-center rounded-full bg-black text-white">
        <mat-icon style="font-size: 32px; height: 32px; width: 32px"> close</mat-icon>
      </div>
      Close
    </button>
  </div>
</ng-template>

<ng-template #emojiTemplate>
  <div class="flex flex-col p-4 border rounded-md md:gap-4 w-full sm:w-auto">
    <div class="flex flex-row justify-between items-center">
      <span class="text-2xl">Reactions</span>
      <button
        type="submit"
        (click)="resetEmoji()"
        class="text-black px-2 py-2 border-2 rounded flex flex-col items-center whitespace-normal break-words"
      >
        <mat-icon style="font-size: 24px; height: 24px; width: 24px">restart_alt</mat-icon>
      </button>
    </div>
    <div class="flex flex-row">
      @for (emoji of this.roomService.emoji$ | async; track emoji) {
      <div class="bg-white px-4 py-2 lg:text-4xl md:text-xl flex lg:flex-col sm:flex-row items-center">
        <div class="flex sm:flex-row lg:flex-col items-center">
          {{ emoji.emoji }}
          {{ emoji.count }}
        </div>
      </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #template>
  <div class="p-4">
    <span class="text-2xl">Quick Question</span>
    @if ((quizQuestion | async) === null) {
    <form (ngSubmit)="askQuestion()" [formGroup]="quickQuestionForm" class="flex flex-col h-[60vh] w-[60vw] gap-2">
      <mat-form-field>
        <mat-label>Question</mat-label>
        <input matInput formControlName="question" placeholder="Question" />
      </mat-form-field>
      @for (option of quizOptions(); track option; let i = $index) {
      <mat-form-field>
        <mat-label>Option {{ i + 1 }}</mat-label>
        <input matInput [formControl]="option" placeholder="Option" />
      </mat-form-field>
      }
      <span style="flex: 1 1 auto"></span>
      <button (click)="addOption()" type="button" class="bg-black text-white px-4 py-2 rounded-md">Add Option</button>
      <button type="submit" class="bg-black text-white px-4 py-2 rounded-md">Ask</button>
    </form>
    } @else {
    <div class="bg-white p-4 flex flex-col w-[60vw] h-[60vh] gap-4">
      <h1>Quick Question Stats</h1>
      <div class="flex flex-col gap-4 p-4 h-full">
        @for (option of this.roomService.quizStats$ | async; track option; let i = $index) {
        <div class="flex flex-col gap-4 p-4">
          <div class="w-full h-8 bg-gray-100 rounded-full" style="position: relative">
            <div
              class="h-8 bg-slate-700 rounded-full"
              [style]="'width:' + (option.percentage || 0) + '%;position: absolute;top:0;left:0'"
            ></div>
            <span class="h-8 w-full" style="position: absolute; top: 0; left: 4px"
              >{{ option.option + 1 }}: {{ option.count }}</span
            >
          </div>
        </div>
        }
      </div>
    </div>
    }
  </div>
  <ng-template #quizStats>
    <div class="bg-white p-4 flex flex-col w-[60vw] h-[60vh] gap-4">
      <h1>Quick Question Stats</h1>
      <div class="flex flex-col gap-4 p-4 h-full">
        @for (option of this.roomService.quizStats$ | async; track option; let i = $index) {
        <div class="flex flex-col gap-4 p-4">
          <div class="w-full h-8 bg-gray-100 rounded-full" style="position: relative">
            <div
              class="h-8 bg-blue-200 rounded-full"
              [style]="'width:' + (option.percentage || 0) + '%;position: absolute;top:0;left:0'"
            ></div>
            <span class="h-8 w-full" style="position: absolute; top: 0; left: 4px"
              >{{ option.option + 1 }}: {{ option.count }}</span
            >
          </div>
        </div>
        }
      </div>
    </div>
  </ng-template>
</ng-template>

<ng-template #questionsdialog>
  <h1>Questions</h1>
  <div class="p-4 border border-gray-300 rounded-lg" style="height: 60vh; width: 60vw; overflow-y: auto">
    @for (question of this.roomService.questions$ | async; track question) {
    <div class="p-4 border-b border-gray-300">
      <span>{{ question }}</span>
    </div>
    }
  </div>
</ng-template>

<ng-template #exitroomdialog let-onClose="onClose">
  <div class="p-4 rounded-2xl" style="height: 20vh; width: 60vw; overflow-y: auto">
  <h1>Closing room</h1>
  <div class="flex justify-between mt-4">
  <button type="submit" class="bg-black text-white px-4 py-2 rounded-md w-2/5" (click)="onClose('continue')">Continue</button>
  <button type="submit" class="bg-black text-white px-4 py-2 rounded-md w-2/5" (click)="onClose('cancel')">Cancel</button>
</div>
</div>
</ng-template>