@if (device === 'mobile') {
<div class="mobile">
  <span class="brand-icon"><mat-icon>takeout_dining </mat-icon></span>
  <span class="title">SIRIUS</span>
  <span style="flex: 1 1 auto"></span>
  <span class="title-action"> </span>
</div>
} @else {
<div class="default" style="padding: 0 20px; gap: 4px" fxLayout="row" fxLayoutAlign="center center">
  <span class="brand-icon"><mat-icon>cast_for_education </mat-icon></span>
  &nbsp;
  <span class="title">EduCast</span>
  <span style="flex: 1 1 auto"></span>
</div>
}

<ng-template #default>
  <div class="default" style="padding: 0 20px; gap: 4px" fxLayout="row" fxLayoutAlign="center center">
    <span class="brand-icon"><mat-icon>cast_for_education </mat-icon></span>
    &nbsp;
    <span class="title">EduCast</span>
    <span style="flex: 1 1 auto"></span>
  </div>
</ng-template>
