@use '@angular/material' as mat;
:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.section {
  position: relative;
  .section-header {
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5em;
    color: rgba($color: #000000, $alpha: 0.4);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    mat-icon {
      font-size: 1.2em;
      width: 18px;
      height: 18px;
      justify-self: center;
      align-self: center;
    }
    .title {
      font-size: 1em;
    }
  }
  .section-body {
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
  }
}
.image-wrapper {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  .image {
    position: relative;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 50%;
    img {
      height: 80px;
      width: 80px;
      padding: 2em;
    }
    .edit-wrapper {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 100%;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: flex;
      color: white;
      background-color: rgba($color: #000000, $alpha: 0.8);
      align-items: center;
      justify-content: center;
      mat-icon {
        font-size: 18px;
        height: 18px;
        width: 18px;
      }
    }
  }
}
.title-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  .title-price {
    display: flex;
    flex-direction: row;
  }
  .title {
    font-size: 1.5em;
    color: rgba($color: #000000, $alpha: 0.9);
    flex: 1 1 auto;
  }
  .price {
    color: rgba($color: #000000, $alpha: 0.6);
    font-size: 1em;
  }
  .description {
    color: rgba($color: #000000, $alpha: 0.6);
    font-size: 1em;
  }
}
