@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

mat.$theme-ignore-duplication-warnings: true;

@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', Roboto, 'Helvetica Neue', sans-serif;
}

// Define your theme with color palettes, typography and density

$m2-primary: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$m2-accent: (
  50: #efebe7,
  100: #d8ccc2,
  200: #beab9a,
  300: #a38972,
  400: #906f53,
  500: #7c5635,
  600: #744f30,
  700: #694528,
  800: #5f3c22,
  900: #4c2b16,
  A100: #ffb7ae,
  A200: #ff8a7b,
  A400: #ff5c48,
  A700: #ff462e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$m2-error: (
  50: #f7e4e4,
  100: #eababa,
  200: #dd8d8d,
  300: #cf5f5f,
  400: #c43c3c,
  500: #ba1a1a,
  600: #b31717,
  700: #ab1313,
  800: #a30f0f,
  900: #940808,
  A100: #ffd5dd,
  A200: #ffa2b4,
  A400: #ff6f8a,
  A700: #ff5576,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-theme-primary: mat.m2-define-palette($m2-primary, $default: 500, $lighter: 100, $darker: 700, $text: 500);
$mat-theme-accent-palette: map-merge(
  mat.$m2-teal-palette,
  (
    501: #4d77b6,
    contrast: (
      501: white,
      A100: white,
      A200: white,
    ),
  )
);

$mat-theme-accent: mat.m2-define-palette($m2-accent, $default: 500, $lighter: A100, $darker: A200, $text: 600);

$mat-theme-warn-palette: map-merge(mat.$m2-pink-palette, ());
$mat-theme-warn: mat.m2-define-palette($m2-error, $default: A200, $lighter: 500, $darker: 500, $text: A700);

$mat-dark-theme-primary-palette: map-merge(
  mat.$m2-blue-palette,
  (
    contrast: (
      200: #030844,
      A100: rgba(0, 0, 0, 0.87),
      A700: rgba(0, 0, 0, 0.87),
    ),
  )
);

$mat-dark-theme-primary: mat.m2-define-palette(
  $mat-dark-theme-primary-palette,
  $default: 500,
  $lighter: A100,
  $darker: A700,
  $text: 700
);

$mat-dark-theme-accent-palette: map-merge(
  mat.$m2-blue-palette,
  (
    contrast: (
      A200: black,
      50: black,
      A400: black,
    ),
  )
);

$mat-dark-theme-accent: mat.m2-define-palette(
  $mat-dark-theme-accent-palette,
  $default: A200,
  $lighter: 50,
  $darker: A400,
  $text: A100
);

$mat-dark-theme-warn-palette: map-merge(
  mat.$m2-pink-palette,
  (
    contrast: (
      A100: black,
      100: white,
    ),
  )
);

$mat-dark-theme-warn: mat.m2-define-palette(
  $mat-dark-theme-warn-palette,
  $default: A100,
  $lighter: 100,
  $darker: A700,
  $text: 100
);

$mat-typography: mat.m2-define-legacy-typography-config(
  $font-family: 'Space Grotesk',
  $display-4:
    mat.m2-define-typography-level(
      $font-size: 96px,
      $font-weight: 300,
      $font-family: 'Space Grotesk',
    ),
  $display-3:
    mat.m2-define-typography-level(
      $font-size: 60px,
      $font-weight: 500,
      $font-family: 'Space Grotesk',
    ),
  $display-2:
    mat.m2-define-typography-level(
      $font-size: 48px,
      $font-weight: 500,
      $font-family: 'Space Grotesk',
    ),
  $display-1:
    mat.m2-define-typography-level(
      $font-size: 34px,
      $font-weight: 500,
      $font-family: 'Space Grotesk',
    ),
  $headline:
    mat.m2-define-typography-level(
      $font-size: 24px,
      $font-weight: 500,
      $font-family: 'Space Grotesk',
    ),
  $title:
    mat.m2-define-typography-level(
      $font-size: 20px,
      $font-weight: 500,
      $font-family: 'Space Grotesk',
    ),
  $subheading-2:
    mat.m2-define-typography-level(
      $font-size: 18px,
      $font-weight: 500,
      $font-family: 'Space Grotesk',
    ),
  $subheading-1:
    mat.m2-define-typography-level(
      $font-size: 16px,
      $font-weight: 500,
      $font-family: 'Space Grotesk',
    ),
  $body-2:
    mat.m2-define-typography-level(
      $font-size: 16px,
      $font-weight: 400,
      $font-family: 'Space Grotesk',
    ),
  $body-1:
    mat.m2-define-typography-level(
      $font-size: 16px,
      $font-weight: 400,
      $font-family: 'Space Grotesk',
    ),
  $caption:
    mat.m2-define-typography-level(
      $font-size: 12px,
      $font-weight: Medium,
      $font-family: 'Space Grotesk',
    ),
  $button:
    mat.m2-define-typography-level(
      $font-size: 16px,
      $font-weight: regular,
      $font-family: 'Space Grotesk',
    ),
  $input:
    mat.m2-define-typography-level(
      $font-size: 16px,
      $line-height: 1.33,
      $font-weight: regular,
      $font-family: 'Space Grotesk',
    ),
);

* {
  line-height: 1.33;
}

$mat-density: 0;

$mat-core-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $mat-theme-primary,
      accent: $mat-theme-accent,
      warn: $mat-theme-warn,
    ),
    typography: $mat-typography,
    density: $mat-density,
  )
);

$mat-dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $mat-dark-theme-primary,
      accent: $mat-dark-theme-accent,
      warn: $mat-dark-theme-warn,
    ),
  )
);

// include all components
// Only include core styles once
@include mat.core();

// Include the light theme styles
@include mat.all-component-themes($mat-core-theme);
@include mat.all-component-colors($mat-core-theme);
@include mat.all-component-typographies($mat-typography);

// Include the dark theme styles conditionally
.dark-theme {
  @include mat.all-component-colors($mat-dark-theme);
}
