@if (room.is_active && loggedInUser === roomMetaData.owner_id) {
<app-admin-room
  [room]="room"
  [roomMetaData]="roomMetaData"
  [transcripts]="transcripts"
  [summaries]="summaries"
></app-admin-room>
} @else if (room.is_active && loggedInUser !== roomMetaData.owner_id) {
<app-join-room
  [room]="room"
  [roomMetaData]="roomMetaData"
  [transcripts]="transcripts"
  [summaries]="summaries"
></app-join-room>
} @else {
<app-closed-room
  [room]="room"
  [roomMetaData]="roomMetaData"
  [transcripts]="transcripts"
  [summaries]="summaries"
></app-closed-room>
}
